<script>
  import "../app.css";
  import Header from "../components/Header.svelte";
  import Footer from "../components/Footer.svelte";
  import Input from "../components/Input.svelte";
//  import { auth } from '../authStore';
import {auth} from "../lib/authStore";

  $: isAuthenticated = $auth; // Reactive statement to get the value of the auth store
</script>

<div class="container w-full h-screen bg-slate-200">
  {#if !isAuthenticated}
    <Input />
  {:else}
    <Header />
    <!-- other pages -->
    <main class="pages mt-14 py-6">
      <slot />
    </main>
    <Footer />
  {/if}
</div>
