@tailwind base;
@tailwind components;
@tailwind utilities;


/* For WebKit (Safari, Chrome, Opera) */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #c9d0dd; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Round the edges of the thumb */
}